<!DOCTYPE html >
<html>
    <head>
        <title>Express Dynamic Pag</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <h2 class="hed1"> {{title}} <span style="color: blue;">Page Content</span> </h2>
        <div class="header1">
            <a href="/">HOME</a>
            <a href="/service">SERVICES</a>
            <a href="/team">TEAMS</a>
            <a href="/product">PRODUCTS</a>
            <a href="/about">ABOUT</a>
        </div>
    </body>
</html>