<html>
    <head>
        <title>Express Dynamic Page</title>
        <link rel="stylesheet" href="./css/style.css">

    </head>
    <body>
        <h2> {{>header}} </h2>
        <h2> {{title}} Page Content</h2>
        <h2> Company Name : {{name}} </h2>
        <h2> City : {{city}} </h2>
        <img src= {{img4}} alt="my photo" style="width: 30%; height : 400px;"/>
         <footer> {{>footer}} </footer>

    </body>
</html>